<h3>Paging</h3>

<mg-grid 
	[key]="'id'"
	[items]="users"
  [pageSize]="pageSize"
  (beforePaging)="beforePagingCallback($event)">
	
	<mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

</mg-grid>