<h3>Sorting</h3>

<mg-grid 
	[key]="'id'"
	[items]="users"
	(beforeSorting)="beforeSortingCallback($event)">
	
	<mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [enableOrdering]="isOrderingEnabled"
    [caption]="'Last name'"
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [customOrder]="customOrderCallback"
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

</mg-grid>

<p>
  'Last name' ordering disabled
</p>