<h3>Master-detail</h3>

<mg-grid
  [key]="'id'"
  [items]="users"
  [getDetailItems]="getDetailItems">
  
  <mg-details-button-column></mg-details-button-column>

  <mg-text-column
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column
    [caption]="'Age'"
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

  <mg-detail-grid> 
    <ng-template let-context>
      <mg-grid
        [key]="'id'"
        [items]="context.items"
        [pageSize]="detailGridPageSize">
        <mg-text-column 
          [caption]="'Order description'" 
          [propertyName]="'description'">
        </mg-text-column>
        <mg-date-time-column
          [caption]="'Date'" 
          [propertyName]="'date'">
        </mg-date-time-column>
        <mg-spin-column
          [caption]="'Sum'" 
          [propertyName]="'sum'">
        </mg-spin-column>
      </mg-grid>
    </ng-template>
  </mg-detail-grid>

</mg-grid>