<h3>Summary</h3>

<mg-grid 
  [key]="'id'"
  [items]="users"
  [pageSize]="pageSize">
  
  <mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

  <mg-summary-item 
    [propertyName]="'age'"
    [summaryType]="'sum'">
  </mg-summary-item>

  <mg-summary-item 
    [propertyName]="'age'"
    [summaryType]="'avg'"
    [customCalculateSummary]="customCalculateSummary">
  </mg-summary-item>

  <mg-summary-item 
    [propertyName]="'firstName'"
    [summaryType]="'count'"
    [isPerPageSummary]="isPerPageSummary">
  </mg-summary-item>

  <mg-summary-item
    [propertyName]="'birthdate'"
    [summaryType]="'min'">
  </mg-summary-item>

  <mg-summary-item 
    [propertyName]="'birthdate'"
    [summaryType]="'max'">
  </mg-summary-item>
</mg-grid>

<p>
  Age: avg - Custom summary (Average age of all users above 30)
</p>

<p>
  First name: count - Summary with isPerPageSummary set to false - count of all items on all pages
</p>