<h3>Server side mode</h3>

<mg-grid 
  [key]="'id'"
  [enableGrouping]="isGroupingEnabled"
  [enableServerSideMode]="isServerSideModeEnabled"
  [onGridStateChange]="gridStateChange"
  [pageSize]="pageSize">
  
  <mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'"
    [propertyName]="'birthdate'">
  </mg-date-time-column>

  <mg-summary-item
    [propertyName]="'age'"
    [summaryType]="'sum'"
    [isPerPageSummary]="isPerPageAgeSummary">
  </mg-summary-item>

</mg-grid>

<p>
  <label>Current grid state:</label>
  <br />
  {{ currentState | json }}
</p>