<h3>Custom templates</h3>

<mg-grid 
	[key]="'id'"
	[items]="users"
  [enableGrouping]="isGroupingEnabled"
  [pageSize]="3"
  [paginationTemplate]="paginationTemplate"
  [initFormCallback]="initForm">
	
	<mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [caption]="'Last name'" 
    [propertyName]="'lastName'"
    [dataTemplate]="customDataTemplate"
    [headerTemplate]="customHeaderTemplate">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'"
    [filterTemplate]="ageFilterTemplate"
    [editTemplate]="ageEditTemplate"
    [groupHeaderTemplate]="ageGroupHeaderTemplate"
    [customFilter]="customFilterCallback"
    [validationErrorsTemplate]="errorsTemplate">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

  <mg-edit-column>
  </mg-edit-column>

  <mg-summary-item 
    [customTemplate]="ageAverageTemplate"
    [propertyName]="'age'"
    [summaryType]="'avg'">
  </mg-summary-item>

</mg-grid>

<ng-template let-context #customDataTemplate>
  * {{ context.item[context.data.propertyName] }} *
</ng-template>

<ng-template let-context #customHeaderTemplate>
  * {{ context.caption }} *
</ng-template>

<ng-template let-context #ageFilterTemplate>
  <input 
    style="width: 30px"
    class="mg-input"
    #minAgeFilterInput
    type="number"
    (focusout)="filterAge(context, minAgeFilterInput.value, maxAgeFilterInput.value)" />
  <input 
    style="width: 30px" 
    class="mg-input"
    #maxAgeFilterInput
    type="number"
    (focusout)="filterAge(context, minAgeFilterInput.value, maxAgeFilterInput.value)" />
</ng-template>

<ng-template let-context #ageEditTemplate>
  <div>
    *
    <span [formGroup]="context.editForm">
      <input 
        class="mg-input"
        type="number" 
        formControlName="{{ context.data.propertyName }}" />
    </span>
    *
  </div>
</ng-template>

<ng-template let-context #errorsTemplate>
  <div *ngIf="shouldRenderValidationErrors(context)" class="custom-validation-errors">
    <span>Custom error template</span>
  </div>
</ng-template>

<ng-template let-context #ageGroupHeaderTemplate>
  Custom group header: {{ context.item[context.data.propertyName] }}
</ng-template>

<ng-template let-context #paginationTemplate>
  <button (click)="changePage(context, -1)"><</button>
  <button (click)="changePage(context, 1)">></button>
</ng-template>

<ng-template let-context #ageAverageTemplate>
  Average: {{ context.summaryValue }}
</ng-template>