<div class="menu">
  <ul>
    <li><a routerLinkActive="active" routerLink="/overview">Overview</a></li>
    <li><a routerLinkActive="active" routerLink="/sorting">Sorting</a></li>
    <li><a routerLinkActive="active" routerLink="/grouping">Grouping</a></li>
    <li><a routerLinkActive="active" routerLink="/filtering">Filtering</a></li>
    <li><a routerLinkActive="active" routerLink="/paging">Paging</a></li>
    <li><a routerLinkActive="active" routerLink="/summary">Summary</a></li>
    <li><a routerLinkActive="active" routerLink="/add-edit-item">Add-edit items</a></li>
    <li><a routerLinkActive="active" routerLink="/form-validation">Form validation</a></li>
    <li><a routerLinkActive="active" routerLink="/custom-templates">Custom template</a></li>
    <li><a routerLinkActive="active" routerLink="/html-elements">Html elements</a></li>
    <li><a routerLinkActive="active" routerLink="/master-detail">Master-detail</a></li>
    <li><a routerLinkActive="active" routerLink="/server-side-mode">Server-side mode</a></li>
    <li><a routerLinkActive="active" routerLink="/scrollable-grid">Scrollable grid</a></li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>