<h3>Scrollable grid</h3>

<mg-grid 
  [key]="'id'"
  [items]="users"
  [scrollHeight]="'127px'">
  
  <mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'"
    [width]="'180px'">
  </mg-text-column>

  <mg-text-column 
    [caption]="'Last name'" 
    [propertyName]="'lastName'"
    [width]="'180px'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'"
    [width]="'180px'">
  </mg-spin-column>

</mg-grid>