<h3>Filtering</h3>

<mg-grid 
	[key]="'id'"
	[items]="users"
	(beforeFiltering)="beforeFilteringCallback($event)">
	
	<mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [enableFiltering]="isFilteringEnabled"
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'"
    [customFilter]="customFilterCallback">
  </mg-date-time-column>

</mg-grid>

<p>
  'Last name' filtering disabled
</p>