/* You can add global styles to this file, and also import other style files */

.under-30 {
  background-color: orange;
}

.last-name-header {
  background-color: #aaa;
}

.first-name-filter input {
  border-color: red;
}

.birthdate-edit {
  background-color: green;
}

.custom-validation-errors {
  color: red;
}

body {
  font-family: Arial;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu li {
  float: left;
}

.menu li a {
  font-size: 12px;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111111;
}

.menu li a.active {
  background-color: #111111;
}