<h3>Add/edit items</h3>

<p>
  <label for="show-add-row-toggle">Show add row toggle button</label>
  <input id="show-add-row-toggle" type="checkbox" [(ngModel)]="showAddRowToggle" />

  <label for="simulate-error">Simulate error during saving / deleting</label>
  <input id="simulate-error" type="checkbox" [(ngModel)]="simulateError" />
</p>

<mg-grid 
  [key]="'id'"
  [items]="users"
  [showAddRow]="showAddRow"
  [showAddRowToggle]="showAddRowToggle"
  [saveChangesCallback]="saveChanges"
  [deleteItemCallback]="deleteItem">
  
  <mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

  <mg-edit-column></mg-edit-column>

  <mg-delete-column></mg-delete-column>

</mg-grid>