<h3>Grouping</h3>

<!-- [dropColumnText]="dropColumnText" -->

<mg-grid 
	[key]="'id'"
	[items]="users"
  [enableGrouping]="isGroupingEnabled"
	(beforeGrouping)="beforeGroupingCallback($event)">
	
	<mg-text-column 
    [caption]="'First name'" 
    [propertyName]="'firstName'">
  </mg-text-column>

  <mg-text-column 
    [enableGrouping]="isLastNameGroupingEnalbed"
    [caption]="'Last name'" 
    [propertyName]="'lastName'">
  </mg-text-column>

  <mg-spin-column 
    [caption]="'Age'" 
    [propertyName]="'age'">
  </mg-spin-column>

  <mg-date-time-column
    [customGroup]="customGroupCallback"
    [caption]="'Birthdate'" 
    [propertyName]="'birthdate'">
  </mg-date-time-column>

</mg-grid>

<p>
  'Last name' grouping disabled
</p>